﻿@model List<DeveloperViewModel>

<div id="div-busca-dev" class="mt-5">
    <form asp-action="Buscar" method="get">
        <div class="form-actions no-color">
            <p>
                <div class="col-md-12 text-left">
                    <label>Digite o nome de um developer para buscar: </label>
                </div>
                <div class="col-md-12 text-left">
                    <input type="text" class="col-md-6" name="nome" value="" />
                    <input type="submit" value="Buscar" class="btn btn-primary" />
                    <a class="btn btn-primary" asp-area="" asp-controller="Developers" asp-action="Cadastro">Adicionar Novo</a>
                </div>

            </p>
        </div>
    </form>
        
    <div id="div-resultado-busca-dev" class="mt-5 col-md-12 row">
        @Html.Partial("_Lista", @Model)
    </div>
</div>
