﻿@model DeveloperViewModel


<form asp-action="ConfirmarCadastro" method="post">

        @Html.Partial("_Dados", Model)

        <input type="submit" value="Confirmar" class="btn btn-primary" />

</form>