﻿@model DeveloperViewModel

<div class="col-md-12 text-left">
    <label class="col-md-2">@Html.DisplayNameFor(m => m.Nome)</label>
    @Html.TextBoxFor(m => m.Nome, new { @id = "tb-nome-dev" })
</div>

<div class="col-md-12 text-left">
    <label class="col-md-2">@Html.DisplayNameFor(m => m.Sexo)</label>
    @Html.DropDownListFor(m => m.Sexo, new SelectList(Model.OpcoesSexo, "Valor", "Descricao", Model.Sexo), "Selecione...", new { @id = "sel-sexo-dev" })
</div>

<div class="col-md-12 text-left">
    <label class="col-md-2">@Html.DisplayNameFor(m => m.Idade)</label>
    @Html.TextBoxFor(m => m.Idade, new { @id = "tb-idade" })
</div>

<div class="col-md-12 text-left">
    <label class="col-md-2">@Html.DisplayNameFor(m => m.DataNascimento)</label>
    @Html.TextBoxFor(m => m.DataNascimento, new { @id = "tb-data-nascimento" })
</div>

<div class="col-md-12 text-left">
    <label class="col-md-2">@Html.DisplayNameFor(m => m.Hobby)</label>
    @Html.TextBoxFor(m => m.Hobby, new { @id = "tb-hobby" })
</div>