﻿@model DeveloperViewModel

<div class="row">

    <div class="col-md-5">
        @Model.Nome
    </div>

    <div class="col-md-1">
        @Model.Idade
    </div>

    <div class="col-md-2">
        @Model.DataNascimento
    </div>

    <div class="col-md-2">
        <button id="btn-editar-dev" class="col-md-1" type="button">
            Editar
        </button>
    </div>

    <div class="col-md-2">
        <button id="btn-excluir-dev" class="col-md-1" type="button">
            Excluir
        </button>
    </div>

</div>