﻿@model List<DeveloperViewModel>

<table class="table">
    <thead>
        <tr>
            <th>
                <strong>Nome</strong>
            </th>
            <th>
                <strong>Sexo</strong>
            </th>
            <th>
                <strong>Idade</strong>
            </th>
            <th>
                <strong>Data Nasc.</strong>
            </th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(m => item.Nome)
            </td>
            <td>
                @Html.DisplayFor(m => item.Sexo)
            </td>
            <td>
                @Html.DisplayFor(m => item.Idade)
            </td>
            <td>
                @Html.DisplayFor(m => item.DataNascimento)
            </td>
            <td>
                <a asp-action="Edicao" asp-route-id="@item.Id">Editar</a> |
            </td>
            <td>
                <a asp-action="Excluir" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
        }
    </tbody>
</table>
